.dodgebutton{
    color: rgb(255, 127, 172);
}
.navdodge ul{
    display: flex;
    justify-content: space-between;
    
}
.navdodge li{
    list-style: none;
}
.navdodge a{
    text-decoration: none;
    color: black;
}
.navdodge li a{
    justify-content: space-between;
}
.spanish{
    color: white;
    text-align: center;
    background-color: red;
    height: 25px;
    padding-top: 0.5rem;
}
body{
    cursor: pointer;
    
}
.main{
    background-image: url(dodge.images/jeeplatitude.png);
    height: 400px;
    

}
.background{
    color: white;
    font-size: xx-large;
    font-weight: 770;
    text-align: center;
    padding-top: 5.1rem;
}
.buttons{
    display: flex;
    justify-content: space-around;
    margin-left: 90px;
    margin-right: 90px;
}
button{
    background-color: red;
    color: white;
    border-radius: 20px;
    width: 140px;
    height: 40px;
    border: none;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    max-width: 100%;
}

.ram {
    background-image: url(dodge.images/3500-1.jpg);
    height: 134px;
    margin-left: 20px;
}
 


.pacifica{
    background-image: url(dodge.images/pacifica\ van.jpg);
    height: 144px;
    margin-left: 20px;
}


.service{
    background-image: url(dodge.images/vehicle\ service.jpg);
    height: 144px;
    margin-right: 20px;
}
.btn{
    margin-left: 69px;
    margin-top: 90px;
    margin-right: 69px;
}
.finacing{
    background-image: url(dodge.images/chrysler-1.jpg);
    height: 144px;
    margin-left: 20px;
    margin-right: 20px;
}
.navdodge li a:hover{
    color: blueviolet;
}

