fieldset{
    width: 200px;
    background-color: black;
    background: transparent;
    backdrop-filter: blur(8px);
}
.forms{
    margin-left:360px;
    color: rgb(232, 241, 239);
    margin-top: 40px;

    
    

}
label{
    font-weight: bold;
    text-transform: uppercase;
    color:white;
    margin-top: 40px;
}
body{
    background-image: url(greentree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}
input{
    border-style:none;
    margin: 0.9px;
}